@charset "ISO-8859-1";
button {
  visibility: hidden;
}
table, td {
  border: 1px solid black;
  margin: auto;
  width: 50%;
  padding: 10px;
}
td{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  }
  
  
  
  
  .row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#RestaurantImage{
	width: 250px;
	height: 250px;
}