<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="restaurantchoice.css">
    <script src="restaurantchoice.js"></script>
</head>
<body>


<p>Here are some nearby restaurants</p>

<table id="myTable">
    <tr>
        <th>Restaurant Name</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Cuisine</th>
    </tr>
    <tr>
        <td>The University of Cincinnati Cafeteria</td>
        <td>$$</td>
        <td>3</td>
        <td>Variety</td>
    </tr>
    <tr>
        <td>The Mac Shack</td>
        <td>$$$</td>
        <td>4.5</td>
        <td>Variety</td>
    </tr>
    <tr>
        <td>Kroger</td>
        <td>$$</td>
        <td>5</td>
        <td>Variety</td>
    </tr>
    <tr>
        <td>Goodfellas</td>
        <td>$$</td>
        <td>4.5</td>
        <td>Bar</td>
    </tr>
    <tr>
        <td>The Eagle</td>
        <td>$$</td>
        <td>4.6</td>
        <td>Bar</td>
    </tr>
    <tr>
        <td>HangOverEasy</td>
        <td>$$</td>
        <td>3</td>
        <td>Burgers/Bar</td>
    </tr>
</table>
<br>

<button type="button" onclick="myCreateFunction()">Create row</button>

</body>
</html>
